* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    scroll-behavior: smooth;
}

:root {
    --darkwhite-color: #ddd;
    --head-color: rgb(255 141 81);
    --back-color: #292929;
    --darkred-color:rgb(168, 2, 2);
}

body {
    background-image: url("../Imgs/photo_2023-08-21_03-47-02.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: auto;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--head-color);
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 99;
    opacity: .7;
}

button i {
    animation: to-top 1s infinite linear alternate;
    font-size: 18px;
}

@keyframes to-top {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

header {
    min-height: 60px;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    z-index: 99;
}

header .container {
    height: 100%;
}

.head {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap;  */
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.head ul li {
    display: inline-block;
    margin-right: 18px;
    font-size: 18px;
}

.head a {
    color: var(--darkwhite-color);
    transition: .3s;
}

header .head ul a:hover {
    color: var(--head-color) !important;
}

.head h1 {
    font-size: 25px;
    text-shadow: 0px 0px 12px #000531;
}

.head h1 a {
    color: var(--head-color);
}

@media (max-width: 900px) {
    .head {
        flex-direction: column;
    }
    .head ul li {
        font-size: 15px;
    }
    .head h1 {
        font-size: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 470px) {
    header {
        padding: 2px;
    }
    .head ul li {
        font-size: 12px;
        margin-right: 3px;
    }
    .head ul li:last-child {
        margin-right: 0;
    }
    .head h1 {
        font-size: 16px;
        margin-top: 10px;
    }
}

/* header done */
.landing {
    min-height: 120vh;
    padding: 0 20px;
    padding-top: 80px;
    background-image: url("../Imgs/desktop.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .home {
    margin-top: 25vh;
}

.landing .home h3:first-child {
    color: var(--darkwhite-color);
    font-size: 30px;
    margin-bottom: 20px;
}

.landing .home h3 span {
    color: var(--head-color);
    font-size: 35px;
    text-shadow: 0 0 12px var(--back-color);
}

.landing .home h1 {
    font-size: 43px;
    color: var(--head-color);
    margin-bottom: 20px;
}

.landing .home h1 p {
    font-size: 25px;
    color: var(--darkwhite-color);
    font-weight: 500;
    margin-top: 20px;
} 

@media (max-width: 450px) {
    .landing {
        background-image: url("../Imgs/mobile1.jpg");
        background-position: center left;
    }
    .landing .home {
        margin-top: 55vh;
    }
}
/* landing done */
.Training {
    padding: 60px 20px;
    background-color: var(--back-color);
}

.h-section {
    margin: 0px auto 30px;
    width: fit-content;
    font-size: 35px;
    color: var(--head-color);
    padding: 10px;
    text-transform: uppercase;
}

.Training .plans {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.Training .plans .plan {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    padding: 30px 20px;
    border-left: 1px solid var(--darkwhite-color);
    text-align: center;
    transition: .4s;
    flex: 1;
}

.Training .plans .plan:hover {
    background-color: rgb(0, 0, 0,.3);
}

.Training .plan h3 {
    color: var(--darkwhite-color);
    margin-bottom: 25px;
    font-size: 30px;
}

.Training .plan i {
    color: #b1c4bf95;
    color: var(--head-color);
    margin-bottom: 25px;
    font-size: 35px;
}

.Training .plan h1 {
    color: #b1c4bf95;
    margin-bottom: 25px;
    font-size: 23px;
}

.Training .plan p {
    color: var(--darkwhite-color);  
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: capitalize;
}

.Training .plan a {
    color: var(--head-color);
    padding: 15px;
    background-color: #dddddd56;
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s;
}

.Training .plans .plan:hover a {
    background-color: var(--head-color);
    color: black;
    font-weight: bold;
}
/* training done */
.about {
    padding: 60px 20px 0px;
}

.about .h-section {
    color: var(--darkwhite-color);
}

.about .collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.about img {
    max-width: 50%;
    flex: 1;
}

.about .details {
    text-align: center;
    min-width: 30%;
    padding-bottom: 10px;
    flex: 1;
}

.about .details h1 {
    color: var(--darkred-color);
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about .details h3 {
    color: var(--darkwhite-color);
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.about .details p {
    color: var(--darkwhite-color);
    text-transform: capitalize;
    line-height: 1.5;
}

@media (max-width: 700px) {
    .about .collection {
        flex-direction: column;
    }

    .about img {
        max-width: 80%;
    }
}

@media (max-width:500px) {
    .about img {
        max-width: 100%;
    }
}
/* about me done */
.testimonials {
    padding: 60px 20px;
    background-color: var(--back-color);
}

.testimonials .clients .client {
    padding: 20px;
    border-top: 1px solid var(--darkwhite-color);
    margin-bottom: 10px;
    transition: .4s;
}

.testimonials .client .name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--darkwhite-color);
}

.testimonials .client .name img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.testimonials .client .stars i {
    color: var(--head-color);
    margin-bottom: 10px;
}

.testimonials .client p {
    color: var(--darkwhite-color);
}

.testimonials .client:hover {
    background-color: #dddddd36;
    border-top-color: white;
}
/* testimonials done */
.result .h-section {
    color: var(--darkwhite-color);
}

.result .h-section:nth-of-type(1) {
    margin-bottom: 0;
}

.result {
    padding: 60px 20px;
}

.result .results {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
    overflow: hidden;
}   

.result .results img {
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.result .results img:hover{
    transform: scale(1.04);
}

/* result done */
.contact {
    padding: 60px 20px;
}

.contact .h-section {
    color: var(--darkwhite-color);
}

.contact .h-section:nth-child(1) {
    margin-bottom: 0;
}

.contact .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.contact .details form {
    max-width: 500px;
    flex: 1;
}

.contact .details .input {
    width: 100%;
    display: block;
    height: 40px;
    margin-bottom: 7px;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    box-shadow: 0px 0px 12px var(--head-color);
    background-color: var(--darkwhite-color);
}

.contact .details textarea {
    resize: none;
    height: 90px !important;
}

.contact .details [type="submit"] {
    width: fit-content;
    padding: 0 20px;
    border-radius: 20px;
    background-color: var(--head-color);
    color: black;
    cursor: pointer;
}

.contact .details .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact .details i {
    font-size: 30px;
    color: var(--head-color);
    transition: .4s;
}

.contact .details i:hover {
    color: var(--darkwhite-color);
}
/* contact done */
.show-img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,.7);
    z-index: 100;
    display: none
}

.show-img .img {
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: 5px solid var(--darkwhite-color);
}

.show-img .img img {
    max-width: 100%;
    border-radius: 20px;
}

.show-img i {
    position: absolute;
    top: -9px;
    right: -15px;
    color: var(--darkwhite-color);
    background-color: black;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width:800px) {
    .show-img .img {
        width: 60%;
    }
}

@media (max-width:450px) {
    .show-img .img {
        width: 80%;
    }
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #292929;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.loading span {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dotted var(--head-color);
    border-top-color: transparent;
    font-size: 35px;
    animation: loader 2.5s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
        opacity: .1;
    }
}